extends ../../layouts/default

block head
    title MyEvents - NodeJS Events App
    
block body

    .row
        .col-sm-8
            .page-header
                h1 My Events
                if events.length
                    table.table.table-striped(style='width:80%')
                        thead
                            tr
                                th Event Name
                                th Actions
                        tbody
                            each event in events
                                tr
                                    td= event.name
                                    td 
                                        a.btn.btn-primary.btn-sm(href='/events/edit/#{event._id}') 
                                            i.fa.fa-pencil   Edit
                                        &nbsp;&nbsp;
                                        a.btn.btn-danger.btn-sm(id='deleteEvent', data-delete='#{event._id}', href='#') 
                                            i.fa.fa-trash   Delete
                else
                    p You have not created any events yet
        .col-sm-4
            .page-header
                h1 Sidebar
                